/* Font stacks from: http://www.smashingmagazine.com/2009/09/22/complete-guide-to-css-font-stacks/ */
body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.quote-list {
  clear: left;
}
blockquote {
  color: #aaa;
  font-size: small;
  margin-left: 1.5em;
}
blockquote p {
  color: #555;
  margin: 0;
  font-size: 18pt;
  line-height: 1.2;
}
blockquote span.quote {
}
blockquote span.left {
}
blockquote span.right {
}

.user {
  float: left;
  padding: 0.5em;
  text-align: center;
  display: block;
}
.user:hover {
  background: #ccc;
}
.user img {
  display: block;
  padding: 0 1em;
}
.user span.username {
}

/* Sidebar */
#sidebar {
  float: left;
  width: 10em;
}

/* Forms */
.field label {
  font-weight: bold;
  display: block;
}
