{% extends "layout" %}
{% import "macros" as macros %}

{% block content %}
  {% for user in quotes %}
    <h3>{{ user.title }}</h3>
    {{ macros::user_quotes(username=user.username, quotes=user.quotes, highlight=user.highlight, ratings=user.ratings) }}
  {% endfor %}
{% endblock content %}
