<div>
  <h2>Contributors</h2>

  {{#users}}
  <a class="user" href="{{user_path}}">
    <img src="{{avatar}}" alt="{{name}}'s avatar" />
    <span class="username">{{name}}</span>
  </a>
  {{/users}}
</div>

<div class="quote-list">
  <h2>Recent Quotes</h2>
  {{#quotes}}
  <blockquote cite="/path/to/user">
    <p><span class="left quote">&ldquo;</span>{{body}}<span class="right quote">&rdquo;</span></p>
    &mdash; {{quotee}}{{#created_at}}, {{date}}{{/created_at}}
  </blockquote>
  {{/quotes}}
</div>
