<div>
  <h2>Contributors</h2>

  {{#users}}
  <a class="user" href="{{user_path}}">
    <img src="{{avatar}}" alt="{{name}}'s avatar" />
    <span class="username">{{name}}</span>
  </a>
  {{/users}}
</div>

<div class="quote-list">
  <h2>Recent Quotes</h2>
  {{<quotes_partial}}
</div>

{{{pager}}}
