<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Quotes - {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/public/quotes.css" />
  </head>
  <body>
    {% if current_user %}
      {% include "nav" %}
    {% endif %}

    <h2>{{ title }}</h2>
    {% include "flash" %}
    {% block content %}{% endblock content %}
  </body>
</html>
