<form action="login" method="post" accept-charset="utf-8">
  <label for="openid_identifier">OpenID URL:</label>
  <input type="text" name="openid_identifier" value="" />
  <input type="submit" value="Login" />
</form>
