<h2>Add New Quote</h2>

<form action="/quotes" method="post" accept-charset="utf-8" class="add quote">
  <label for="user_id">User</label>
  <select name="user_id" id="user_id">
    {{#users}}
    <option value="{{user_id}}">{{name}}</option>
    {{/users}}
  </select>
  said,
  <label for="quote-body">Quote</label>
  <span class="left quote">&ldquo;</span><input type="text" name="quote_body" value="" id="quote-body" /><span class="right quote">&rdquo;</span>
  <input type="submit" value="Add Quote" />
</form>
