<ul>
  {{#quotes}}
  <li>
    <blockquote cite="/users/{{quotee}}">
      <p><span class="left quote">&ldquo;</span>{{body}}<span class="right quote">&rdquo;</span></p>
      &mdash; <a href="/users/{{quotee}}" class="username">{{quotee}}</a>{{#created_at}}, {{date}}{{/created_at}}
    </blockquote>
  </li>
  {{/quotes}}
</ul>
