<div class="quote-list">
  {{<quotes_partial}}
</div>
<div class="quotee">
  <img src="{{avatar}}" alt="{{name}}'s avatar" />
  <h2><a href="{{quotee_path}}">{{quotee}}</a></h2>
  <div style="clear: left;"><!-- hack --></div>
</div>
