<div class="quotee">
  <img src="{{avatar}}" alt="{{name}}'s avatar" />
  <h2>{{username}}</h2>
  <div style="clear: left;"><!-- hack --></div>
</div>

<div class="vcard">
  <div class="field">Name: <span class="fn">{{name}}</span></div>
  {{#current_user}}
  <div class="field">Email: <span class="email">{{email}}</span></div>
  {{/current_user}}
</div>

<div class="quote-list">
  <h3>Quotes</h3>
  {{<quotes_partial}}
</div>

{{{pager}}}