<h2>{{username}}</h2>
<img src="{{avatar}}" alt="{{name}}'s avatar" />

<div class="vcard">
  <div class="field">Name: <span class="fn">{{name}}</span></div>
  <div class="field">Email: <span class="email">{{email}}</span></div>
</div>

<div class="quote-list">
  <h3>Quotes</h3>
  {{<quotes_partial}}
</div>

{{{pager}}}